<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /path/to/app/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (^)(.+)$ $1index.php?post=$2
</IfModule>
